<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">
      
	<div layout:fragment="content">
		<h2>비밀번호 변경</h2>
		<form th:action="@{/member/password}" method="post" id="pwdForm" class="my-4">
			<input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<div class="form-group">
				<label th:for="password">현재 비밀번호</label>
				<input type="password" name="password" class="form-control"
				       placeholder="현재 비밀번호 입력">
			</div>
			<div class="form-group">
				<label th:for="password">새로운 비밀번호</label>
				<input type="password" name="newPassword" class="form-control"
				       placeholder="새로운 비밀번호 입력">
			</div>
			<div class="form-group">
				<label th:for="password">새로운 비밀번호 확인</label>
				<input type="password" name="newPasswordConfirm" class="form-control"
				       placeholder="새로운 비밀번호 입력 확인">
			</div>
			<button type="submit" class="btn btn-success">비밀번호 변경</button>
		</form>
    </div>
</html>