
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Hello~</title>
<link rel="stylesheet" href="/static/css/style.css">
<script>
	function checkForm(){
		//alert("test");
		let title = document.getElementById("title");
		let content = document.getElementById("content");
		
		if(!title.value){
			alert("제목을 입력해주세요");
			title.focus();
			return false;
		}
		if(!content.value){
			alert("내용을 입력해주세요");
			title.focus();
			return false;
		}
	}
</script>
</head>
<body>
	<div th:replace="menu.html::nav"></div>
	<div id="container">
		<h2>글쓰기</h2>
		<form th:action="@{insertBoard}" method="post"
			  th:onsubmit="return checkForm()">
			<table class="tbl_reg">
				<tr>
					<td>제목</td>
					<td><input type="text" name="title" id="title" placeholder="TITLE"></td>
				</tr>
				<tr>
					<td>작성자</td>
					<td><input type="text" name="writer" th:value="${session['member'].name}"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td>
						<textarea id="content" name="content" rows="10" cols="50"
						          placeholder="CONTENT"></textarea>
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
					   <button type="submit">새글 등록</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>